.user-profile-img-custom{
    width: 32px;
    height: 32px;
    position: absolute;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    transform: translateY(-7px);
}

.card-custom{
	background:#fff;transition:.5s;border:0;margin-bottom:30px;
	border-radius:.55rem;position:relative;width:100%;box-shadow:0 1px 2px 0 rgba(0,0,0,0.1)
	}
	
	.card-custom .body {
    color: #444;
    padding: 20px;
    font-weight: 400;
}

.progress.progress-xs {
    height: 5px;
}

.form-control-cus {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
